@using HR_Project.Presentation.Models.VMs;
@model PersonnelDetailsVM

<div class="content-wrapper">
    <div class="row" style="height: 50px;">
    </div>

    <div class="row">
        @*SOLDAKİ KART*@
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" style="text-align:center; justify-content: center; align-items: center;">

                    <img src="~/images/@Model.PersonnelDetails.Photo" alt="Profile Image" style="max-width: 100%; height: auto;">

                    <div class="bg-gray-dark flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                        <div>
                            <h4>
                                @Model.PersonnelDetails.Name @if (Model.PersonnelDetails.SecondName != null)
                                {
                                    @Model.PersonnelDetails.SecondName
                                }
                                @Model.PersonnelDetails.Surname @if (Model.PersonnelDetails.SecondSurname != null)
                                {
                                    @Model.PersonnelDetails.SecondSurname
                                } @Model.PersonnelDetails.SecondSurname
                            </h4>
                        </div>
                        <div style="text-align:center">
                            <h6>@Model.PersonnelDetails.Title</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @*SAĞDAKİ KART*@
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card" style=" justify-content: center; align-items: center;">
                <div class="card-body">
                    <h4 class="card-title">User Details</h4>
                    <div class="row">
                        <div class="col-md-5">

                            <table class="table">

                                <tr>
                                    <td class="font-weight-medium">TC:</td>
                                    <td class="text-left"> @Model.PersonnelDetails.TC </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-medium">BirthDate:</td>
                                    <td class="text-left"> @Model.PersonnelDetails.BirthDate </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-medium">Department:</td>
                                    <td class="text-left">@Model.PersonnelDetails.Department  </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-medium">HireDate:</td>
                                    <td class="text-left">@Model.PersonnelDetails.DateOfStartWorking </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-medium">Phone:</td>
                                    <td class="text-left">@Model.PersonnelDetails.Phone </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-medium">Email:</td>
                                    <td class="text-left">@Model.PersonnelDetails.Email </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-medium">Address:</td>
                                    <td class="text-left">@Model.Address.Detail, @Model.Address.Neighbourhood,@Model.Address.District, @Model.Address.City </td>
                                </tr>


                            </table>
                            <br />
                            <br />
                            <div>
                                <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Go Back</a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
