@using HR_Project.Application.Models.DTOs;
@using HR_Project.Presentation.Models.VMs;
@model UpdatePersonnelDTO


<div class="content-wrapper">
    <div class="row" style="height: 50px;">
    </div>
    <form asp-action="UpdatePersonnel" method="post" enctype="multipart/form-data" class="forms-sample">
        <div class="row">
            @*SOLDAKİ KART*@
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body" style="text-align:center; justify-content: center; align-items: center;">

                        <img src="~/images/@Model.Photo" alt="Profile Image" id="profile-image" style="max-width: 100%; height: auto">

                        <div class="bg-gray-dark flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3" style="background-color:#d3d3d3">
                            <div>
                                <h4>
                                    @Model.Name @if (Model.SecondName != null)
                                    {
                                        @Model.SecondName
                                    }
                                    @Model.Surname @if (Model.SecondSurname != null)
                                    {
                                        @Model.SecondSurname
                                    } @Model.SecondSurname
                                </h4>
                            </div>
                            <div style="text-align:center">
                                <h6>@Model.Title</h5>
                            </div>
                            <div>
                                <input asp-for="Photo" type="file" name="profileImage" accept=".jpg, .jpeg, .png" onchange="showSelectImage(this)">
                                <input asp-for="Photo" type="hidden" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            @*SAĞDAKİ KART*@
            <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">


                        <h4 class="card-title">Update Informations</h4>
                        <br />



                        <div class="form-group row">
                            <label for="Phone" class="col-sm-3 col-form-label">Phone Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="@Model.Phone" placeholder="@Model.Phone">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="City" class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="@Model.Address.City" placeholder="@Model.Address.City">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="District" class="col-sm-3 col-form-label">District</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="@Model.Address.District" placeholder="@Model.Address.District">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Neighbourhood" class="col-sm-3 col-form-label">Neighbourhood</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="@Model.Address.Neighbourhood" placeholder="@Model.Address.Neighbourhood">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Street" class="col-sm-3 col-form-label">Street</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="@Model.Address.Street" placeholder="@Model.Address.Street">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Detail" class="col-sm-3 col-form-label">Detail</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="@Model.Address.Detail" placeholder="@Model.Address.Detail">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9" style="text-align:center">
                                <button type="submit" class="btn btn-success" asp-route-id="@Model.ID" style="width:200px;height:40px">Update</button>
                            </div>
                        </div>


                        <a class="btn btn-success ml-auto " href="/Home/Index"> Go Back</a>


                    </div>

                </div>
            </div>

        </div>
    </form>
</div>

<script src="~/js/Photo.js"></script>
<script>

    function showSelectImage(input) {
        var imgElement = document.getElementById("profile-image");
        var selectFile = input.files[0];

        if (selectFile) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imgElement.src = e.target.result;

            };
            reader.readAsDataURL(selectFile);
        }
    }


</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
	}
